html {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: 'Maison Neue Book', 'Helvetica Neue', Helvetica, Arial,
    Sans-Serif, sans-serif;
}

.day {
  background-color: white;
  color: black;
}

.night {
  background-color: #203a43;
  color: white;
}

.wrapper {
  width: 80%;
  max-width: 600px;
  margin: auto;
  position: relative;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 700px) {
  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

header {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img {
  width: 180px;
  border-radius: 1rem;
  margin-bottom: 20px;
}

header .links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 700px) {
  header .links {
    flex-direction: row;
  }
}

header .links div {
  display: inline-block;
}

header .links .link {
  margin: 4px 10px;
}

a {
  color: #5c9cad;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #5c9cad;
}

.night a {
  color: #88c0d0;
  border-bottom: 1px solid #88c0d0;
}

.container {
  background: rgba(150, 150, 150, 0.2);
  border: 2px solid black;
  border-radius: 0.8rem;
  padding: 20px;
  margin: 20px 0 40px;
  line-height: 1.5rem;
}

.night .container {
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid white;
}

.container .title {
  font-size: 1.2rem;
  padding-bottom: 0.4rem;
}

.container .title::selection {
  background: yellow;
}

.container .sentence {
  margin: 0.6rem 0;
}

footer {
  position: relative;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
}

footer::before {
  content: '';
  background: black;
  width: 40px;
  height: 4px;
  border-radius: 999999px;
  position: absolute;
  top: -1rem;
}

.night footer::before {
  background: white;
}
